.container {
  min-height: 100vh;
  background: #eee;
  padding: 1rem;
}

.header {
  display: flex;
  margin: 2rem;
  img {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem

}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.post:hover {
  transform: scale(1.1)
}

.postContent {
  padding: 1rem;

  p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}
